{
  "openapi": "3.0.0",
  "info": {
    "title": "API Rick and Morty",
    "description": "API para CRUD de personagens de Rick and Morty",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashboard.heroku.com/apps/personagens-rick-morty/",
      "description": "API Global"
    }
  ],
  "paths": {
    "/users/": {
      "post": {
        "sumary": "Crie um novo usuario",
        "description": "Rota responsavel por criar um usuario",
        "tags": ["Users"],
        "requestBody": {
          "content": {
            "aplication/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/User"
              },
              "examples": {
                "User": {
                  "value": {
                    "name": "Lucas Santos",
                    "username": "lsantos",
                    "email": "lsantos@gmail.com",
                    "password": "123456",
                    "avatar": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Algum campo obrigatorio não foi preenchido ou usuario existente"
          },
          "500": {
            "description": "Erro ao criar usuario tente novamente mais tarde!"
          },
          "201": {
            "description": "Created",
            "content": {
              "aplication/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "get": {
        "sumary": "Exibe todos os usuarios",
        "description": "Rota responsavel por exibir todos os usuarios",
        "tags": ["Users"],
        "responses": {
          "206": {
            "description": "Não existe usuarios cadastrados!"
          },
          "200": {
            "description": "Ok",
            "content": {
              "aplication/json": {
                "schema": {
                  "type": "array",
                  "itens": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login":{
      "post": {
        "sumary": "Entrar",
        "description": "Rota responsavel por fazer o login de um usuario cadastrado",
        "tags": ["Auth"],
        "requestBody": {
          "content": {
            "aplication/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              },
              "examples": {
                "User": {
                  "value": {
                    "email": "lsantos@gmail.com",
                    "password":"123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Algum campo obrigatorio não foi preenchido ou usuario existente"
          },
          "201": {
            "description": "Created"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFrmat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "username": { "type": "string" },
          "email": { "type": "string" },
          "password": { "type": "string" },
          "avatar": { "type": "string" }
        }
      }
    }
  }
}
